<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{username}} ✞ YourSpace</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css')}}">

</head>

<body>
  <table cellspacing="10">
    <tr>
      <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_winnie.jpeg')}}"></td>

      <td>
        <p>
          <em>Senior at <strong>Oklahoma State University</strong></em>
        </p>
        <p>
          <strong>GO POKES!!!</strong>
        </p>
        <p>
          Tulsa, Oklahoma
        </p>
      </td>
  </table>


  <div style="float:right;" width="49%" height="100%">
    <table cellspacing="10">
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_winniewind.jpeg')}}" height="300px"></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_winnie_dinner.jpeg')}}" height="340px" /></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_winnie_friends.jpeg')}}" height="340px" /></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_winnie_piglet.jpeg')}}" height="275px" /></td>
      </tr>
    </table>
  </div>

  <div>
    <h1>Contact Info</h1>
    <table cellspacing="10">
      <tr>
        <td>
          honeybear@gmail.com
        </td>
      </tr>
      <tr>
        <td>
          Mobile (918) 867 - 5309
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h1>About</h1>
    <table cellspacing="10">
      <tr>
        <td>
          I am a senior at OSU studying <strong>Computer Science.</strong>
          My focus is <strong>developing websites</strong> to better enhance user experiences and
          to add value to <strong>business applications</strong>.
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h1>Interests</h1>
    <table cellspacing="10">
      <tr>
        <td>
          I love Honey!....and Christopher Robin too!
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h1>Companies</h1>
    <table cellspacing="10">
      <tr>
        <td>
          Pooh and Friend's Honey Farm est. 1926
        </td>
      </tr>
      <tr>
        <td>
          Stake holder at Bubba Gump Shrimp Co.
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h1>Websites</h1>
    <table cellspacing="10">
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_devdocs.jpeg')}}" alt="devdocs website icon" height="30px" /></td>
        <td><a href="https://www.devdocs.io">DevDocs API Documentation</a></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_colorhunt.jpeg')}}" alt="colorhunt.co website icon" height="30px" /></td>
        <td><a href="https://www.colorhunt.co">Color Hunt</a></td>
      </tr>
    </table>
  </div>

  <div>
    <h1>Music</h1>
    <table cellspacing="10">
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_coalchamber.jpeg')}}" alt="coal chamber music" height="150px" /></td>
        <td><a href="https://open.spotify.com/playlist/37i9dQZF1DZ06evO3CYfvz">Coal Chamber</a></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_soundofmusic.jpeg')}}" alt="Sound of Music" height="100px" /></td>
        <td><a href="https://open.spotify.com/album/583SgyGBxtEzsk9J8zBqiy">The Sound of Music Soundtrack</a></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_lilwayne.jpeg')}}" alt="Lil Wayne" height="100px" </td>
        <td><a href="https://open.spotify.com/playlist/37i9dQZF1DWYgE24f8i7FU">lil Wayne</a></td>
      </tr>
      <tr>
        <td><img src="{{ url_for('static', filename='imgs/pooh_images/IMG_christmasradio.jpeg')}}" alt="Christmas Radio" height="100px" </td>
        <td><a href="https://open.spotify.com/playlist/3pmP1sfV8rPNSfPnXSBAOa">Christmas Radio</a></td>
      </tr>
    </table>
  </div>


</html>
